{% extends 'all-pages/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <h4>Welcome: {{request.user.username}} </h4>
</div>
<div class="container mt-5">
    <div class="row ">
        <div class="col-md-4" style="height:100%; background-color: rgba(60,177,212,255);">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}
                <input style="color: black;" class="btn btn-info btn-sm" type="submit" value="Update">
            </form>
        </div>
        <div class="card-body">

            <div class="row">

                <div class="col-md-8">

                </div>
                <div class="col-md-2"></div>
            </div>

        </div>
        <div class="col-md-4" style="position: relative; top: 50%;">
           
        </div>
    </div>
    <div class="col-md-4" style="position: relative; top: 50%;">
        <h3>Update Profile</h3>
    </div>
</div>

{% endblock %}