{% extends 'all-pages/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<table class="table table-striped table-light" style="margin-top: 5%;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Location</th>
    </tr>
  </thead>
  <tbody>
  {% for member in members%}
    <tr>
      <th scope="row">*</th>
      <td>{{ member.profile_user.username }}</td>
      <td>{{ member.profile_neighbourhood}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}